<div class="one-beer">
    <div class="image">
        <img src="{{image_url}}" alt="{{name}}">
    </div>
    <div class="info">
        <h2>{{name}}</h2>
        <h3>{{tagline}}</h3>
        <p>{{description}}</p>
    </div>
</div>